
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Suscess</title>
</head>
<body style="text-align:center">
    <h2>Đặt Hàng Thành Công!</h2>
    <h4>Đơn hàng của bạn đã được gửi đến của hàng.</h4>
    <a href="@Url.Action("Index","Product")" id="buyAgain">Tiếp Tục Mua Hàng.</a>
</body>
</html>
