<link href="~/Content/masterstyle.css" rel="stylesheet" />


<div class="slider">
    <div class="top-slider">
        <div class="left-slider"><img src="	https://cdn0.fahasa.com/media/magentothem/banner7/FahasaSaleT3_W2_banner_Banner_840x320.jpg" alt=""></div>
        <div class="right-slider">
            <div class="right-top"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/VnPay_T9_1_392x156.png" alt=""></div>
            <div class="right-bot"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/zlpay_392x156_t9.jpg" alt=""></div>
        </div>
    </div>
    <div class="bot-slider">
        <div class="item-slider"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/Deli_SmallBannerT9-09.png" alt=""></div>
        <div class="item-slider"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/Dochoitrungthu_Mainbanner_Smallbanner_310x210_1.png" alt=""></div>
        <div class="item-slider"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/TrangThieuNhiT923_Banner_SmallBanner_310x210-22.png" alt=""></div>
        <div class="item-slider"><img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/NCCMinhLongT923_GoldSmallBanner_310x210.png" alt=""></div>
    </div>
</div>
