
@{
    ViewBag.Title = "ErrorRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bạn không có quyền truy cập vào chức năng này! Vui Lòng Thử lại Sau</h2>
<a href="/Product/QuanlySP">Quay Lại</a>

